.typograf-update-content .buttons {	float: left !important;}.typograf-update-content .buttons div {	margin-left: 0px !important;	float: none !important;}.typograf-update-content p {	margin-bottom: 5px}