#edit_form fieldset {
    border			: none;
    width			: 100%
}

#edit_form label {
    width			: 100%;
    display			: block;
    font-size		: 12px;
    margin-bottom	: 4px;
}


#edit_form .input-line {
    margin-bottom	: 10px;
    width			: 95%;
}

#edit_form .input-line input {
	width			: 100%;
}

a.img-alt-edit-link {
	border-bottom	: 1px dashed #0088e8;
	display			: inline;
	margin-left		: 10px;
	color			: #0088e8;
	font-weight		: bold;
	cursor			: pointer;
}