/* <MODERN> */
.content-column .imgButtonWrapper {
    position: relative !important;
    bottom: 0 !important;
}
#upload_file {
    display: none;
}
#select_file_upload div {
    margin: 5px 0 0 0;
    font-size: 10pt; 
    color: #999;
}

#upload {
    position: relative;
}

#upload_info {
    position:absolute;
    top: 5px; 
    left: 265px; 
    display: none;
}

#upload_progress_bar {
    padding-left: 5px;
}

#search_block {
    width: 294px;
    position: relative;
}

#search_block .default {
    width: 100%;
    padding-left: 28px;
    padding-bottom: 4px;
    padding-right: 51px;
}

#search_block {display:none; }

.search_button {
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 1px 6px 2px 6px;
    margin: 0px 0px 0px 5px;
    font-weight: bold;
    font-size: 11px;
    top: 5px;
    line-height: 1.6;
}

#search_prev {
    right: 28px;
}

#search_next {
    right: 5px;
}

#search_block .fa-search {
    position: absolute;
    top: 7px;
    left: 8px;
    font-size: 15px;
    color: #00a0dc;
}

#gen_content {
    position: relative; 
    overflow: hidden;
    margin-top: 15px;
}

#selected_import, #undo_all_changes, #schedule_import {
    display: none;
}

.do_import {
    width: 185px;
}

.select select {
    display: block;
}

#set-params .body {
    font-size: 13px !important;
}

.block {
    display: block;
}

.mt20 {
    margin-top: 20px;
}

#gen_content button, #gen_content input, #gen_content optgroup, #gen_content select, #gen_content textarea {
    color: black;
}

#info_table span {
    font-weight: bold;
}

.checkbox-wrap {
    margin-bottom: 5px;
}

.head_item {
    width: 100%;
}

.head_item div {
    margin-right: 18px;
}

.checkbox {
    background: #fff;
}

/* </MODERN> */


#dark_table {position:absolute; background-color:#FFFFFF; top:0px; left:0px;}

.block_param {border:1px solid #CCCCCC; padding:15px 10px 10px 10px; font-size:10pt; margin:0px 5px 10px 0px;}
.block_param .block_head {font-size:10pt; margin-top:-28px; margin-left:0px; padding:5px; background-color:#fff; font-weight:bold;}
.block_param_small {font-size:10pt; margin:0px 0px 10px 0px;}
input {font-size:10pt;}

#categories_tree {max-height:300px; overflow:auto; padding:0px 0px 0px 5px; position:relative; margin:0px 0px 8px 0px; font-size: 14px;}
#categories_tree .title {font-size:10pt; padding: 2px 0px 3px 5px; background-color: #999; color:#fff; position: relative;}
#categories_tree .quest {position: absolute; top:0px; right: 5px; cursor:pointer; padding: 2px;}
#categories_tree #change_default_parent {padding: 7px 0px 7px 10px; background-color: #eee; cursor: pointer; color:#0088E8 }

#default_id {max-height:300px; overflow:auto; padding:0px 0px 0px 5px; position:relative; margin:0px 0px 8px 0px;}
#default_id .title {font-size:10pt; padding: 2px 0px 3px 5px; background-color: #999; color:#fff; position: relative;}
#default_id .quest {position: absolute; top:0px; right: 5px; cursor:pointer; padding: 2px;}
#default_id .body {padding: 7px 0px 7px 10px; background-color: #eee; color:#0088E8;}
#default_id select {border:0px; width:95%; font-size:10pt; padding:3px; border:1px solid #ccc;}

#symb_separate_csv {max-height:300px; overflow:auto; padding:0px 0px 0px 5px; position:relative; margin:0px 0px 8px 0px;}
#symb_separate_csv .title {font-size:10pt; padding: 2px 0px 3px 5px; background-color: #999; color:#fff; position: relative;}
#symb_separate_csv .quest {position: absolute; top:0px; right: 5px; cursor:pointer; padding: 2px;}
#symb_separate_csv .body {padding: 7px 0px 7px 10px; background-color: #eee; color:#0088E8;}
#symb_separate_csv select {border:0px; width:95%; font-size:10pt; padding:3px; border:1px solid #ccc;}

#encoding {max-height:300px; overflow:auto; padding:0px 0px 0px 5px; position:relative; margin:0px 0px 8px 0px;}
#encoding .title {font-size:10pt; padding: 2px 0px 3px 5px; background-color: #999; color:#fff;}
#encoding .body {padding: 7px 0px 7px 10px; background-color: #eee; color:#0088E8;}
#encoding select {border:0px; width:95%; font-size:10pt; padding:3px; border:1px solid #ccc;}

#additional_settings {max-height:300px; overflow:auto; padding:0px 0px 0px 5px; font-size:12px; margin: 0px 0px 8px 0px;}
#additional_settings .title {font-size:10pt; padding: 2px 0px 3px 5px; background-color: #999; color:#fff;}
#additional_settings .body {padding: 7px 0px 7px 10px; background-color: #eee; color:#333; font-size: 14px;}

#templates {max-height:300px; overflow:auto; padding:0px 0px 0px 5px; position:relative; margin:0px 0px 8px 0px; font-size: 12px;}
#templates .title { padding: 2px 0px 3px 5px; background-color: #999; color:#fff; position: relative;}
#templates .body {padding: 7px 0px 7px 10px; background-color: #eee; color:#0088E8;}
#templates select {border:0px; width:95%; font-size:10pt; padding:3px; border:1px solid #ccc;}
#templates .edit {position: absolute; top: 3px; right: 30px; cursor:pointer; padding: 2px; border-radius: 3px;}
#set_params .quest {position: absolute; top: 1px; right: 5px; cursor:pointer; padding: 4px;}
#templates .edit.open { color: #0887B7; }
#templates .body #remove {display: none; height:52px;}
#templates .body #remove div {color:#333; margin:4px 0px 7px 0px; font-size: 14px }
#templates #new_template_name {
    width:55%; 
    margin-top:5px;
    height: 30px;
    padding: 0 0 0 10px;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    font-family: "Segoe UI", Arial, Tahoma;
}
#templates #save_template {
    width:35%; 
    float: right !important;     
    margin-top: 1px;
    margin-right: 15px;
}

#content_table {font-size:10pt; border: 0px; position: absolute; top:0px; left:0px;}
#content_table td {
    background: #fff; 
    cursor:pointer; 
    position:relative; 
    overflow: hidden; 
    white-space: nowrap; 
    padding: 10px;
}
#content_table tr.head td {background-color:#999999; color:#FFFFFF; font-weight:bold;}
#content_table td.error {cursor:help;}
#content_table td.edit_wait div {color:#CCCCCC;}
#content_table tr.select td {background-color:#DDDDDD;}
#content_table td.select {background-color:#DDDDDD;}
#content_table .selected_column {color:#000099;}
#content_table .unactive_column {color:#ccc;}
#content_table tr.is_exist td#i0 {background-color:#ABEEA0;}
#content_table tr.even td{ background: #ECF3FE;}
#content_table tr.select td,
#content_table tr.select.even td,
#content_table .even td.select,
#content_table td.select{ background: #c8efff;}
#content_table .content_item {min-width: 70px; max-width: 250px; white-space: nowrap;}
#content_table tr[turn_off='1'] td{color:#dd0000;}

#head_table {
    height: 42px;
    font-size:12px;
}

#head_table td {
    background-color: #435b6f !important; 
    color: #FFFFFF; 
    font-weight: bold;
}

#head_table select {
    width: 100%;
    font-size: 10pt;
    padding: 3px;
}

#head_table td.error {
    background-color:#EAA4A4;
}

/*.key {width:12px; height:22px; position:absolute; top:3px; right:3px; overflow:hidden; cursor:pointer; background:url(/styles/skins/mac/data/modules/prices_import/img/key_unactive.png);}*/

.key {
    width: 12px; 
    height: 22px; 
    position: absolute; 
    top: 17px;
    right: 10px;
    overflow: hidden; 
    cursor: pointer; 
}

.key.active {
    color: goldenrod;
}

.unique {
    display:none
}
.hide {
    display:none
}
.vhide {
    visibility:hidden
}

/*#save_template {
    margin:0px 10px 5px 0px;
    background: url(/images/cms/admin/mac/common/button_left.jpg) 0 0 no-repeat,
        url(/images/cms/admin/mac/common/button_right.jpg) 100% 0 no-repeat,
        url(/images/cms/admin/mac/common/button_center.jpg) repeat-x;
    border: none !important;
    color: white !important;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 11px;
    height: 17px;
    cursor: pointer;
    font-weight: bold;
}*/

/*
#selected_import, #undo_all_changes, #schedule_import {display: block; height: 24px; line-height: 23px; text-indent: 30px; margin-right: 20px; font-weight: bold; font-size: 12px; display:none; background-size: 22px !important;}
#selected_import {background: url(/images/cms/admin/mac/ico_exchange.png) 0px 0px no-repeat;}
#schedule_import {background: url(/styles/skins/mac/data/modules/prices_import/img/schedule.png) 0px 0px no-repeat;}
#undo_all_changes{background: url(/styles/skins/mac/data/modules/prices_import/img/cancel.png) 0px 0px no-repeat;}
#schedule_import_form label{
    margin: 0px 5px 0px 15px;
}
#schedule_import_form label:first-child{
    margin-left: 0px !important;
}*/

.edit_row_col {display: none;}

#progress_bar {margin-right:20px; width:200px; background-color:#DDDDDD; height:20px; float:left; border:1px solid #CCCCCC; position:relative;}
#progress_line {position:absolute; top:0px; left:0px; height:20px; background-color:#AAAAAA; z-index:1;}
#progress_percent {position:absolute; text-align:center; width:200px; font-size:10pt; padding-top:2px; z-index:2;}
#additional_info {float:left; margin-right:20px; padding-top:2px; font-size:10pt; color:#990000;}

#cell_edit_input {position:absolute; z-index:3;}
#cell_edit_input input {height:29px; width:29px; font-size:10pt; border:0px; background-color:#FFFFFF; padding:0px 3px 0px 3px;}
#cell_edit_textarea {position:absolute; z-index:3;}
#cell_edit_textarea textarea {height:100px; width:200px; font-size:10pt; border: 1px solid #ccc; background-color:#FFFFFF; padding:0px 3px 0px 3px;}
#cell_relation_edit select{
    width: 100%;
}
#cell_relation_edit select[multiple='multiple']{
    height: 150px;
}
#cell_relation_edit input.search_input{
    width: 100%;
    background: url(/images/cms/admin/mac/tree/search.gif) no-repeat;
    padding: 1px 0 1px 19px;
    border: 1px solid #d3d3d3;
    color: #333;
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 12px;
    background-color: #fff;
}
#cell_relation_edit input.current_value{
    width: 100%;
    margin: 0px 0px 20px 0px;
    border: 1px solid #d3d3d3;
    color: #333;
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 12px;
    background-color: #fff;
}
#cell_relation_edit label{
    font-size: 10pt;
    font-weight: bold;
    margin: 0px 0px 5px 0px;
    display: inline-block;
}



#cell_image_edit select{
    width: 97%;
}
#cell_image_edit label{
    width: 100%;
}
#cell_image_edit span{
    width: 100%;
}
#cell_image_edit img{
    vertical-align: middle;
    margin-top: -3px
}
#cell_image_edit select[multiple='multiple']{
    height: 150px;
}
#cell_image_edit input.search_input{
    width: 100%;
    background: url(/images/cms/admin/mac/tree/search.gif) no-repeat;
    padding: 1px 0 1px 19px;
    border: 1px solid #d3d3d3;
    color: #333;
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 12px;
    background-color: #fff;
}
#cell_image_edit input.current_value{
    width: 100%;
    margin: 0px 0px 20px 0px;
    border: 1px solid #d3d3d3;
    color: #333;
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 12px;
    background-color: #fff;
}
#cell_image_edit label{
    font-size: 10pt;
    font-weight: bold;
    margin: 0px 0px 5px 0px;
    display: inline-block;
}


#cell_type_id_edit {position:absolute; z-index:3;}
#cell_type_id_edit select {height:29px; width:29px; font-size:10pt; border:0px; background-color:#FFFFFF; padding:0px 3px 0px 3px;}

#preloader_ceil_edit {position:absolute; top:0px; left:0px; z-index:3;}

.errors_warning {position:absolute; top:0px; right:0px; width:0px; height:0px; border-top: 7px solid red; border-left: 7px solid transparent;}

#td_set_params_div {padding-left:10px; position: relative;}
#set_params {width:300px; height: 625px; min-width: 300px; position: relative;}

.toggle-config-sidebar {
    border:0px; 
    position: absolute; 
    top: 50%; 
    margin-top: -20px; 
    cursor: pointer; 
    left: -3px;
    width: 10px;
    padding: 17px 2px 17px 3px;
    color: #fff;
    height: 50px;
    display: block;
    background: #00a0dc;
    border-radius: 3px
}

.toggle-config-sidebar:hover {
    background: #0887B7
}

#set_params_div #open_set_params_div { 
    display: none; 
}

#info_table {font-size:10pt; margin:10px; position: absolute; bottom: 0px;}

#content_file {margin:0px 0px 0px 0px; display:none; position:relative; /*width: 100%;*/ height: 619px }

#gen_content #content_file_table {
    height:619px; overflow-x:scroll; position:relative; overflow-y: hidden;
}

#vertical_scroll {width:15px; height:619px; overflow-y:scroll; overflow-x:hidden;}
#vertical_scroll #scroll {width:15px;}
#position_scroll {display: inline-block; padding:3px; border:1px solid #ccc; position: absolute; margin-top:20px; top:0px; right:20px; background-color: #fff; z-index: 1; text-align: right; display: none; font-size: 14px;}

#preloader {position:absolute; left:-29px; z-index:1; width:60px; margin-left:50%; top:225px; display: none;}
#upload_select_file {font-size:12px; margin:0px 0px 5px 0px;}

/*==================================== 5.06.14 ===================================*/
/*#set_params .title{
    font: '12px' Tahoma,Arial,Helvetica,sans-serif;
    font-weight: bold;
    background: url(/images/cms/admin/mac/common/tab.jpg) repeat-x left -1px;
    border-radius: 6px 6px 0 0;
    color: #333;
    border: 1px solid #b5c3c9;
    border-bottom: none;
}*/

#set_params .title {
    font-size: 14px !important;
    font-weight: bold;
    color: #333;
    border: 1px solid #e7e7e7;
    background-color: #f4f7f9;
}

#set_params .body,  #categories_tree #change_default_parent{
    border: 1px solid #e7e7e7;
    border-top: none;
    background: #fff;
}

/*#set_params select,
#set_params input[type="text"]{
    font-size: 12px;
    height: 19px;
    padding-top: 0px;
    padding-bottom: 0;
}*/
#set_params input[type="text"]{ padding-top: 1px;}
#select_templates{ margin-top: 8px;}
#set_params #set_params{ margin-bottom: 15px;}
#set_params input[type='checkbox']{ vertical-align: middle;}

#context_menu .cmenuItem:hover {background: #e1f5ff; color: #333333;}

.cmenuItem .icon {display: inline-block; width:20px; height: 16px; overflow: hidden; margin:0px 2px -2px 0px; background: url(/js/cms/wysiwyg/tinymce/jscripts/tiny_mce/themes/umi/img/icons.gif) no-repeat;}
.cmenuItem[item_id='0'] .icon {background-position: -680px -22px;}
.cmenuItem[item_id='1'] .icon {background-position: -721px -22px;}
.cmenuItem[item_id='2'] .icon {background-position: -642px -22px;}
.cmenuItem[item_id='3'] .icon {background-position: -661px -22px;}
.cmenuItem[item_id='4'] .icon {background-position: -661px -22px;}

#process-header.error {color:#ff0000;}
#created_counter, #updated_counter, #total_counter, #total_selected {margin-left:5px;}

/*#search_block input[name='search']{
    background: white url(/images/cms/admin/mac/tree/search.gif) no-repeat 2px 2px;
    font-size: 12px;
    margin: 0;
    padding: 2px 0;
    padding-left: 19px;
    width: 229px;
    border: 1px solid #aaa;
}*/

#content_table .content_item span.title {
    border-bottom: 1px dotted #0000ff;
    display: inline-block;
    margin-right: 5px;
}
.return_list_schedule a {
    font-size: 12px;
    font-weight: bold;
}
.return_list_schedule img{
    vertical-align: middle;
    margin-top: -2px;
}
#schedule_import_form .st {
    margin-left:15px;
}

.tableLists .ti span[title='В очереди'], .chapter span[title='В очереди']{
    color:#00d0d0;
}
.tableLists .ti span[title='Выполняется'], .chapter span[title='Выполняется']{
    color:#0000ff;
}
.tableLists .ti span[title='Выполнено'], .chapter span[title='Выполнено']{
    color:#3caa3c;
}
.tableLists .ti span[title='Ошибка'], .chapter span[title='Ошибка']{
    color:#ee0000;
}

.edit_schedule .chapter{
    margin: 10px 0px 0px 30px;
}
.edit_schedule .chapter label{
    font-weight: bold;
    font-size: 10pt;
}
.export .chapter{
    margin: 10px 0px 0px 10px;
}
.export .chapter label{
    font-weight: bold;
    font-size: 10pt;
    margin-right: 10px;
    width: 230px;
    display: inline-block;
}
.export .chapter select{
    min-width: 110px;
}
.export .chapter input[type='checkbox']{
    vertical-align: middle;
    margin-top: 2px;
}
.cell_edit .ui-datepicker-trigger {
    cursor: pointer;
    vertical-align: middle;
}
.export .warning, .edit_schedule .warning{
    font-weight: bold;
}
.export .error {
    border:1px solid red !important;
}
.please_wait{
    font-weight: bold;
    width:100%;
    text-align: center;
    margin:10px;
}
#process-bar{
    border: 1px solid #ddd;
}
.panel.edit_schedule .panel.properties-group[name='g_reports'] div.field span{
    display: inline-block !important;
}
#addSchedules{
    margin-bottom: 20px;
}
.report .sched1, .report .sched4{
    color:limegreen;
}
.report .danger{
    color:red;
}
.report .warning{
    color:coral;
}
.report {
    background: rgba(123, 125, 123, 0.07);
    border: 1px solid #cdcdcd;
    padding: 10px;
    line-height: 1.5;
    height: 250px;
    overflow-x: hidden;
    overflow-y: visible;
}

.no-padding {
    padding: 0 !important;
}

#stop_btn {
    margin-right: 5px;
}

.popupBody .relation select {
    width: 95%;
    font-size: 10pt;
    padding: 3px;
    border: 1px solid #ccc;
    color: #000;
}

.popupBody .layout-col-control {
    display: block;
}

.popupBody .selectize-control {
    display: inline-block;
    width: 89%;
}