<?php

$FORMS = Array();

$FORMS['captcha'] = <<<CAPTCHA
<table>
   	<tr>
		<td>
			Код с картинки:
		</td>

		<td>
        <span><img src="/captcha.php"  class="captcha" /></span><span><input class="captcha" type="text" name="captcha" size="10" /></span>
		</td>
	</tr>
</table>
CAPTCHA;
?>