{% if fields|length > 0 %}
    {% for item in used_fields %}
        <td style="width:{{ item.size ? item.size : 'auto' }};"  class="table-cell td_{{ item.field }}">
            {% if item.editable != "false"  %}
                {% if isDefined(fields,item.field) %}
                        <i class="small-ico i-change editable" umi-field="{{ item.field }}"></i>
                {% endif %}
            {% endif %}
            <div class="cell-item">
                {% if loop.index0 == 0 %}
                    {% if fields.__children > 0 %}
                        <span class="catalog-toggle-wrapper ex_{{ cid }}"><span class="catalog-toggle"></span></span>
                    {% else %}
                        <span class="catalog-toggle-off ndc"></span>
                    {% endif %}
                    <div class="checkbox"><input type="checkbox" class="row_selector"></div>
                {% endif %}
                <span class="item">
                {% if item.type == 'bool' %}
                    {% if fields[item.field] == 1  %}
                        <img src="/images/cms/admin/mac/tree/checked.png" style="width:13px;height:13px;" alt="">
                    {% endif %}
                {% elseif item.type in ['image','photo']  %}
                    {{ imageField(fields[item.field]) }}
                {% else %}
                    {{ fields[item.field] }}
                {% endif %}
                </span>
            </div>
        </td>
    {% endfor %}
    <td  class="table-cell" style="width: 100%;">
        <div class="cell-item">&nbsp; </div>
    </td>
{% else %}
    <td class="table-cell" style="height: 100px; vertical-align: middle;" colspan="{{ (used_fields|length)+1}}">
        <div class="cell-item" style="text-align: center;">{{ trans('js-table-control-nodata') }}</div>
    </td>
{% endif %}
