input[type="text"], input[type="email"], select {
    width: 100%;
    height: 30px;
    display: block;
    padding: 0 0 0 10px;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    line-height: 30px;
    font-family: "Segoe UI", Arial, Tahoma;
}

input[type="number"] {
    width: auto;
    height: 30px;
    display: block;
    padding: 0 0 0 10px;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    line-height: 30px;
    font-family: "Segoe UI", Arial, Tahoma;
}

textarea {
    width: 100%;
    min-height: 100px;
    display: block;
    padding: 10px;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    font-family: "Segoe UI", Arial, Tahoma;
    font-size: 14px;
    resize: vertical;
}

input[type="checkbox"], input[type="radio"] {
    width: 16px;
    height: 16px;
	position: relative;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #2d3847;
    border-radius: 4px;
}
