fieldset ul li {
    margin-bottom: 10px;
}

fieldset ul li label span {
    display: inline-block;
    margin-bottom: 3px;
}

span.required {
    color: #f00;
}

#item_amount {
    width: 50px;
}

.symlinkAutosuggest {
    position: absolute;
    width: 460px;
    z-index: 1100; 
}

.symlinkAutosuggest .active, .symlinkAutosuggest .unactive {
    color: #333 !important; 
}

.symlinkAutosuggest span a, .symlinkAutosuggest span img {
    cursor: pointer !important;
}

.symlinkAutosuggest span img {
    text-decoration: none !important;
}

.symlinkAutosuggest .choose {
    float: right;
    color: #00a0dc;
    text-decoration: underline;
    cursor: pointer;
}


.symlinkAutosuggest .parent {
    font-style: italic;
}

.symlinkAutosuggest .unactive {
    opacity: 0.5;
}

.symlinkAutosuggest li:hover {
    background-color: #ffffd4;
    color: #00a0dc !important;
}

.hide {
    display: none;
}

.pageslist {
    padding-left: 0 !important;
    width: 463px !important;
}

#item_name {
    margin-bottom: 0 !important;
}

.pageslist li {
    margin-bottom: 5px !important;
}

#total_price {
    font-size: 13px;   
    margin: 0 !important;
}

#total_price_value {
    font-weight: bold;
}

label.error {
    color: #f00 !important;
}

input.boolean {
    width: auto !important;
    margin-left: 0 !important;
}

label.inline {
    display: inline-block;
    white-space: nowrap;
    margin-bottom: 2px !important;
}

input.radio {
    width: auto;
    display: inline-block;
    margin: -2px 10px 0 0;
    vertical-align: middle;
    border: none;
}

acronym {
    font-weight: normal;
	max-width: 550px;
    overflow: hidden;
    display: inline-block;
}

.extended_anchor input[type="radio"] {
	float: left !important;
	margin: 2px 10px 0 0 !important;
}

.nested-form {
    margin-top: 10px;
}
.nested-form ul {
    margin-top: 5px !important;
}

.change-extended-guide-item {
    color: #00a0dc !important;
    text-decoration: none !important;
    border-bottom: 1px dashed #00a0dc;
}

.change-extended-guide-item:hover {
    text-decoration: none !important;
}

.file-link {
    display: block !important;
}

.file-link span {
    text-decoration: underline !important;
    padding-left: 3px;
}

.del-link {
    color: #ff4f00 !important;
    text-decoration: none !important;
    border-bottom: 1px dashed #ff4f00;
}

.del-extended-item {
    margin-left: 5px !important;
}

fieldset label input[type="text"], fieldset label input[type="number"], fieldset label input[type="email"], fieldset label input[type="phone"], fieldset label textarea, fieldset label select, fieldset label table {
    width: 462px !important;
}

.eip_buttons input {
    background: #00a0dc !important;
    border: none !important;
}

.eip_buttons input:hover {
    background: #0887B7 !important;
}

#item_delivery, #item_legal_persons {
    width: 99%
}