.g_orderitems #addOrderItem {
    float: none !important;
    margin-bottom: 20px;
}

.g_orderitems .type_select_gray {
    border-bottom: none;
}

.addOrderContainer {
    border: 0 !important;
    padding: 0 !important;
}

#calcDeliveryPrice {
    border-bottom: 1px dashed #00a0dc
}

.hide {
    display: none;
}

.field.text {
    width: 100% !important;
}

.edit-customer {
    color: #00a0dc;
    border-bottom: 1px dashed #00a0dc;
}

#search-customer {
    width: 450px !important;
}

.symlinkAutosuggest {
    position: absolute;
    width: 448px;
    z-index: 3; 
}

.symlinkAutosuggest .active, .symlinkAutosuggest .unactive {
    color: #333 !important; 
}

.symlinkAutosuggest span a, .symlinkAutosuggest span img {
    cursor: pointer !important;
}

.symlinkAutosuggest span img {
    text-decoration: none !important;
}

.symlinkAutosuggest .choose {
    float: right;
    color: #00a0dc;
    text-decoration: underline;
    cursor: pointer;
}

.symlinkAutosuggest li:hover {
    background-color: #ffffd4;
    color: #00a0dc !important;
}

.symlinkAutosuggest span {
    display: inline-block !important;
}

#customer_type_existing {
    margin-bottom: 20px;
}

#customer_type_existing .symlinkAutosuggest ul li span.active {
    width: 370px !important;
}

#customer_type_existing .symlinkAutosuggest .unreg {
    color: #ff4f00;
    font-style: italic;
}

#customer_type_existing .symlinkAutosuggest .reg {
    color: #3caa3c;
    font-style: italic;
}

.errors-popup {
    color: #ff4f00;
    margin-left: 15px;
}

.errors-popup li {
    list-style-type: decimal;
}

.createorder-customer-wrap p {
    margin: 5px 0;
}

.createorder-customer-wrap p label acronym {
    padding-left: 5px;
    padding-top: 2px;
}

.createorder-customer-info-wrap {
    margin-top: 20px;
}