.activity_form {
	display: inline;
}

.activity_form label {
	display: inline-block;
    margin-left: 15px;
    text-indent: -15px;
	margin-top: 5px;
}

.activity_form input[type="checkbox"] {
	width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

.field.is-sitemap {
	min-height: auto !important;
	margin-top: 21px;
	width: 15% !important;
}

.field.priority {
	width: 33% !important;
}

.hide {
	display: none !important;
}