.activity_form {
	position: absolute;
    z-index: 10;
    left: 170px;
    top: 39px;
}

.imgButtonWrapper {
    bottom: -35px !important;
}
    

.activity_form label {
	display: inline-block;
    margin-left: 5px;
    text-indent: -15px;
	margin-top: 5px;
}

.is-sitemap .cb {
	min-height: auto !important;
	width: 35% !important;
	display: inline-block;
	margin-top: 25px;
	vertical-align: top;
}

.is-sitemap .cb{

}

.field.priority {
	display: inline-block;
	margin-left: 20px;
	width: 33% !important;
}

.is-sitemap .label {
	vertical-align: middle !important;
}

.hide {
	display: none !important;
}

/* FAQ */

.faq_subtitle {
	border-bottom: 0 !important;
}

.faq_subtitle.closed {
	border-bottom: 1px dashed #0088e8 !important;
}
