        %system getOuterContent('./tpls/content/header.inc.tpl')%
<div id="content">
		%system listErrorMessages()%
        <div id="text" umi:element-id="%pid%" umi:field-name="content">%content%
        <p>%webforms add(751, 27140,'webforms')%</p></div>
      </div>
</div>
		<div class="copy">
			<span><p>Copyright 2009. Все права защищены</p></span>
			<span class="umi">
				Работает на <a href="http://umihost.ru">UMIhost</a>
			</span>
		</div>
	</div>
</body>
</html>
