﻿		%system getOuterContent(./tpls/content/header.inc.tpl)%
		<div class="content">
        %system listErrorMessages()%
			<div class="text" umi:element-id="%pid%" umi:field-name="content">
			%content%
			</div>
        <h2>Новые работы</h2>
        <hr />			
			%photoalbum album('3','for_main_page', '8')%
		</div>
		<div class="copy">
			<span><p>Copyright 2009. Все права защищены</p></span>
			<span class="umi">
				Работает на <a href="http://umihost.ru">UMIhost</a>
			</span>
		</div>
	</div>
</body>
</html>
