%system getOuterContent('./tpls/content/header.inc.tpl')%
<div id="content">
          <div umi:element-id="%pid%" umi:field-name="content">
			<!-- Обработка ошибок -->
			%system listErrorMessages()%
            <!-- Выводим контент на страницу -->
            %content%
          </div>
      </div>
		<div class="copy">
			<span><p>Copyright 2009. Все права защищены</p></span>
			<span class="umi">
				Работает на <a href="http://umihost.ru">UMIhost</a>
			</span>
		</div>
	</div>
</body>
</html>