fieldset ul li {
    margin-bottom: 10px;
}

fieldset ul li label span {
    display: inline-block;
    margin-bottom: 3px;
}

span.required {
    color: #f00;
}

#item_amount {
    width: 50px;
}

#new-oitem-price {
	width: 100px !important;
}

.symlinkAutosuggest {
    position: absolute;
    width: 460px;
    z-index: 1100; 
}

.symlinkAutosuggest .active, .symlinkAutosuggest .unactive {
    color: #333 !important; 
}

.symlinkAutosuggest span a, .symlinkAutosuggest span img {
    cursor: pointer !important;
}

.symlinkAutosuggest span img {
    text-decoration: none !important;
}

.symlinkAutosuggest .choose {
    float: right;
    color: #0088e8;
    text-decoration: underline;
    cursor: pointer;
}


.symlinkAutosuggest .parent {
    font-style: italic;
}

.symlinkAutosuggest .unactive {
    opacity: 0.5;
}

.symlinkAutosuggest li:hover {
    background-color: #ffffd4;
    color: #0088e8 !important;
}

.hide {
    display: none;
}

.pageslist {
    padding-left: 0px !important;
    width: 463px !important;
}

#item_name {
    margin-bottom: 0px !important;
}

.pageslist li {
    margin-bottom: 5px !important;
}

#total_price {
    font-size: 13px;   
    margin: 0 !important;
}

#total_price_value {
    font-weight: bold;
}

label.error {
    color: #f00 !important;
}

.fake {
	color: #0088e8 !important;
	border-bottom: 1px dashed #0088e8 !important;
	text-decoration: none !important;
}