#edit_form label {
    width: 100%;
    display: block;
    margin-bottom: 4px;
}

#edit_form .input-line {
    margin-bottom: 10px;
    width: 100%;
}

#edit_form .input-line input {
    width: 100%;
}

a.img-alt-edit-link {
    border-bottom: 1px dashed #00a0dc;
    display: inline;
    margin-left: 10px;
    color: #00a0dc;
    font-weight: bold;
    cursor: pointer;
}

.thumbnail .alt {
    display: none;
}

.img-alt-edit-link.multiple {
    display: block;
    margin-left: 0 !important;
    margin-bottom: 10px; 
}

.multi_image .thumbnail {
    margin-bottom: 5px;
}